<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<h1>About <span th:text="${specialists.specialistName}"></span></h1>

 <b>Name: </b> <span th:text="${specialists.specialistName}"></span>
<br />
<b>Location: </b> <span th:text="${specialists.specialistLocation}"></span>

<br /> <br /><br /> <br /><br /> <br />

<p>Notes go here.
</p>

</body>
</html>