<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<form method="post" style="max-width:600px;" th:object="${specialist}">
    <div class="form-group">

    <div class="form-group">
        <label th:for="specialistName">Specialist Name</label>
        <input class="form-control" th:field="*{specialistName}" />
        <div class="errors" th:errors="*{specialistName}"></div>
    </div>

    <div class="form-group">
        <label th:for="specialistLocation">Specialist Location</label>
        <input class="form-control" th:field="*{specialistLocation}" />
        <span th:errors="*{specialistLocation}" class="error"></span>
    </div>

        <div class="form-group">
            <label th:for="specialistZip">Area Code</label>
            <input class="form-control" th:field="*{specialistZip}" />
            <span th:errors="*{specialistZip}" class="error"></span>
        </div>

    <div class="form-group">
        <label th:for="specialistContact">Specialist Contact</label>
        <input class="form-control" th:field="*{specialistContact}" />
        <span th:errors="*{specialistContact}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="insuranceId">Insurance Type</label>
        <select name="insuranceId">
            <option th:each="insurance : ${insurances}"
                    th:text="${insurance.insuranceName}"
                    th:value="${insurance.id}">
            </option>
        </select>
    </div>

        <div class="form-group">
            <label th:for="typeId">Specialist Type</label>
            <select name="typeId">
                <option th:each="type : ${types}"
                        th:text="${type.typeName}"
                        th:value="${type.id}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label th:for="ratingId">Rating</label>
            <select name="ratingId">
                <option th:each="rating : ${ratings}"
                        th:text="${rating.star}"
                        th:value="${rating.id}">
                </option>
            </select>
        </div>

    <input type="submit" value="Submit New Specialist" />
</form>

</body>
</html>