<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${rating}">
    <div class="form-group">
        <label th:for="star">How Many Stars</label>
        <input class="form-control" th:field="*{star}" />
        <span th:errors="*{star}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="value">Value</label>
        <input class="form-control" th:field="*{value}">
        <span th:errors="*{value}" class="error"></span>
    </div>

    <input type="submit" value="Submit New Rating" />
</form>

</body>
</html>