<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<h1>Find Your Specialist</h1>

<table class="table">
    Specialist Type:
    <select>
        <option th:each="type : ${types}"
                th:text="${type.typeName}"
                th:value="${typeId}">
        </option>
    </select>

<br />
<br />

    Accepted Insurances:
<select>
    <option th:each="insurance : ${insurances}"
            th:text="${insurance.insuranceName}"
            th:value="${insuranceId}">

    </option>
</select>

    <br />
    <br />

    <input type="submit" value="Get Results" />
</table>

</body>
</html>