<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<h1>Find Your Specialist</h1>
<br />
<form method="post">
<table class="table" th:object="${type}">
    <label th:for="typeId">Specialist Type: </label>

    <select name="typeId">
        <option th:each="type : ${types}"
                th:text="${type.typeName}"
                th:value="${type.id}">
        </option>
    </select>
<br />
<br />

    <b>Accepted Insurances:</b>
<select name="insuranceId">
    <option th:each="insurance : ${insurances}"
            th:text="${insurance.insuranceName}"
            th:value="${insurance.id}">

    </option>
</select>

    <br />
    <br />

    <input type="submit" value="Get Results" />
</table>
</form>

</body>
</html>