<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>



<!--<h1>Insurances</h1>
<table class="table">
    <p th:unless="${insurances} and ${insurances.size()}">No insurances are currently in the database.</p>

    <p th:if="${insurances} and ${insurances.size()}">
    <tr>
        <th>Insurance Name</th>
    </tr>

    <tr th:each="insurance : ${insurances}">
        <td th:text="${insurance.insuranceName}"></td>
    </tr>
    </p>
</table>-->

<h1>Specialists</h1>

<table class="table">
<p th:unless="${specialists} and ${specialists.size()}">No specialists are currently in the database.</p>
<tr>
    <th></th>
    <th>Specialist Name</th>
    <th>Specialist Type</th>
    <th>Specialist Location</th>
    <th>Contact Information</th>
    <Th>Accepted Insurances</Th>
</tr>

    <tr th:each="specialist : ${specialists}">
        <td></td>
        <td th:text="${specialist.specialistName}"></td>
        <td th:text="${specialist.specialistType}"></td>
        <td th:text="${specialist.specialistLocation}"></td>
        <td th:text="${specialist.specialistContact}"></td>
        <td th:text="${specialist.insurance.insuranceName}"></td>
    </tr>

</table>

</body>
</html>