<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<h1>Affiliates</h1>

<table class="table">
<p th:unless="${specialists} and ${specialists.size()}">No specialists are currently in the database.</p>
<tr>
    <th></th>
    <th>Specialist Name</th>
    <th>Specialist Type</th>
    <th>Specialist Location</th>
    <th>Contact Information</th>
    <Th>Accepted Insurances</Th>
</tr>

    <tr th:each="specialist : ${specialists}">
        <td></td>
        <td th:text="${specialist.specialistName}"></td>
        <td th:text="${specialist.type.typeName}"></td>
        <td th:text="${specialist.specialistLocation}"></td>
        <td th:text="${specialist.specialistContact}"></td>
        <td th:text="${specialist.insurance.insuranceName}"></td>
    </tr>

</table>

</body>
</html>