<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<table class="table table-bordered">



    <p th:unless="${specialists} and ${specialists.size()}">There are no results that match your search criteria.</p>

        <!--<em><span th:text="${type.type.typeName}"></span></em> and
        <em><span th:text="${insurance.insurance.insuranceName}"></span></em>..</p>-->

    <p th:if="${specialists} and ${specialists.size()}">

    Showing <span th:text="${size}"></span> result(s)
    for <em><span th:text="${type.type.typeName}"></span></em> and
    <em><span th:text="${insurance.insurance.insuranceName}"></span></em> entries......

    <th></th>
    <th>Doctor's Name</th>
    <th>Type</th>
    <th>Insurance</th>
    <th>Rating</th>

    <tr th:each="specialist : ${specialists}">
        <td><a th:href="'/specialist/' + ${specialist.id}" th:text="Profile"></a></td>
        <td th:text="${specialist.specialistName}"></td>
        <td th:text="${specialist.type.typeName}"></td>
        <td th:text="${specialist.insurance.insuranceName}"></td>
        <td th:text="${specialist.rating.star}"></td>

    </tr>

</p>

</table>
</body>
</html>